<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
</head>
<body>
  <h1>
    <div class="profile-icon"></div>
    <%= findUser.NAME %> 님, 어서오세요!
  </h1>
  <div class="mypage">
    <a href="/board/<%=findUser.ID_PK%>">내 정보 수정</a>
    <a href="/board">글목록</a>
  </div>
</body>
</html>