@import 'reset';
@import 'font';

h1 {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 700;
  margin: 25px;
  font-family: 'HS-Regular';
}

.membershipForm {
  width: 50vw;
  height: 450px;
  margin: auto;
}